<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>player3_0_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{32,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,48}}</string>
			<key>sourceSize</key>
			<string>{32,48}</string>
		</dict>
		<key>player3_0_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{32,0},{32,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,48}}</string>
			<key>sourceSize</key>
			<string>{32,48}</string>
		</dict>
		<key>player3_0_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,0},{32,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,48}}</string>
			<key>sourceSize</key>
			<string>{32,48}</string>
		</dict>
		<key>player3_0_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,0},{32,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,48}}</string>
			<key>sourceSize</key>
			<string>{32,48}</string>
		</dict>
		<key>player3_1_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,48},{32,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,48}}</string>
			<key>sourceSize</key>
			<string>{32,48}</string>
		</dict>
		<key>player3_1_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{32,48},{32,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,48}}</string>
			<key>sourceSize</key>
			<string>{32,48}</string>
		</dict>
		<key>player3_1_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,48},{32,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,48}}</string>
			<key>sourceSize</key>
			<string>{32,48}</string>
		</dict>
		<key>player3_1_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,48},{32,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,48}}</string>
			<key>sourceSize</key>
			<string>{32,48}</string>
		</dict>
		<key>player3_2_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,96},{32,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,48}}</string>
			<key>sourceSize</key>
			<string>{32,48}</string>
		</dict>
		<key>player3_2_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{32,96},{32,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,48}}</string>
			<key>sourceSize</key>
			<string>{32,48}</string>
		</dict>
		<key>player3_2_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,96},{32,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,48}}</string>
			<key>sourceSize</key>
			<string>{32,48}</string>
		</dict>
		<key>player3_2_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,96},{32,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,48}}</string>
			<key>sourceSize</key>
			<string>{32,48}</string>
		</dict>
		<key>player3_3_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,144},{32,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,48}}</string>
			<key>sourceSize</key>
			<string>{32,48}</string>
		</dict>
		<key>player3_3_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{32,144},{32,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,48}}</string>
			<key>sourceSize</key>
			<string>{32,48}</string>
		</dict>
		<key>player3_3_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,144},{32,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,48}}</string>
			<key>sourceSize</key>
			<string>{32,48}</string>
		</dict>
		<key>player3_3_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,144},{32,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,48}}</string>
			<key>sourceSize</key>
			<string>{32,48}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>player3.png</string>
		<key>size</key>
		<string>{128,192}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:63ba4250b094eca58e5904f9a0d14066:39c4cabb3db7e4552b6107cdffece216:e747f5312c3d452c9fc2c2ace0f0a9fb$</string>
		<key>textureFileName</key>
		<string>player3.png</string>
	</dict>
</dict>
</plist>
